# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\upgrad\projects\cs_03_case_study_1\cs03_case_study_1\UPSTAC-Week3-assignment_updated\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
